
<!-- Toolbar -->
<app-topo></app-topo>
<div *ngIf="jogoEmAndamento;else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
  <div  *ngIf="tipoEncerramento === 'derrota'; else vitoria">
      <div class="jumbotron" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <img src="./assets/gameover.png" style="width: 300px; display: block;" alt="game over">

        <button (click)="reiniciarGame()" class="btn btn-dark">JOGAR NOVAMENTE</button>
      </div>
  </div>
</ng-template>

<ng-template #vitoria>
  <div >
    <div class="jumbotron" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <img src="./assets/youwin.png" style="width: 300px; display: block;" alt="you win">

      <button (click)="reiniciarGame()" class="btn btn-success">JOGAR NOVAMENTE</button>
    </div>
  </div>
</ng-template>
